<html ng-app="examples">
<head>
  <title>Angular Notifications Example</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- <script src="http://code.jquery.com/jquery-2.1.3.min.js"
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

  <script src="../bower_components/lodash/lodash.min.js"></script>

  <script src="angular-notifications.min.js"></script>
  <script src="angular-notifications-example-controller.js"></script>
</head>
<body ng-controller="angularNotificationsExampleController">

  <angular-notifications></angular-notifications>

  <button type="button" class="btn btn-success" ng-click="addNotification('success', 'message')">Success</button>
  <button type="button" class="btn btn-info" ng-click="addNotification('info', 'message')">Info</button>
  <button type="button" class="btn btn-warning" ng-click="addNotification('warning', 'message')">Warning</button>
  <button type="button" class="btn btn-danger" ng-click="addNotification('danger', 'message')">Danger</button>
</body>
</html>
